{% extends 'base_layout.html' %}

{% block content %}
<h1>Diario</h1>
<div class="dairy item_list">
    <svg id="addSvg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <a id="add" href="{%url 'dairy:create'%}">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path
                    d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16 12.75H12.75V16C12.75 16.41 12.41 16.75 12 16.75C11.59 16.75 11.25 16.41 11.25 16V12.75H8C7.59 12.75 7.25 12.41 7.25 12C7.25 11.59 7.59 11.25 8 11.25H11.25V8C11.25 7.59 11.59 7.25 12 7.25C12.41 7.25 12.75 7.59 12.75 8V11.25H16C16.41 11.25 16.75 11.59 16.75 12C16.75 12.41 16.41 12.75 16 12.75Z"
                    fill="#292D32"></path>
            </g>
        </a>
    </svg>

    <div class="filters">
        

    {%if dairy%}
        <input type="checkbox" id="filtro-favoritos">
        <label for="filtro-favoritos">Mostrar solo favoritos</label>    </div>
    {%for dairy_entry in dairy%}

    <div class="item" id="item-{{dairy_entry.id}}">
        <div class="item_header">
            <h2><a href="{%url 'dairy:detail' id=dairy_entry.id%}"> {{ dairy_entry.titulo }} </a></h2>
            <h2><a href="{%url 'dairy:detail' id=dairy_entry.id%}"> {{ dairy_entry.fecha }} </a></h2>
        </div>
        <div class="item_body">
            <p> {{dairy_entry.snippet}} </p>
            <p> {{dairy_entry.date}} </p>
            <div class="item_buttons">

                <svg class="star-icon {% if dairy_entry.favorito %}favorite{% endif %}"
                    data-entry-id="{{ dairy_entry.id }}" id="star-icon-{{dairy_entry.id}}" version="1.0" id="Layer_1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64"
                    enable-background="new 0 0 64 64" xml:space="preserve" fill="#000000">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path fill="#231F20"
                            d="M63.893,24.277c-0.238-0.711-0.854-1.229-1.595-1.343l-19.674-3.006L33.809,1.15 C33.479,0.448,32.773,0,31.998,0s-1.48,0.448-1.811,1.15l-8.815,18.778L1.698,22.935c-0.741,0.113-1.356,0.632-1.595,1.343 c-0.238,0.71-0.059,1.494,0.465,2.031l14.294,14.657L11.484,61.67c-0.124,0.756,0.195,1.517,0.822,1.957 c0.344,0.243,0.747,0.366,1.151,0.366c0.332,0,0.666-0.084,0.968-0.25l17.572-9.719l17.572,9.719c0.302,0.166,0.636,0.25,0.968,0.25 c0.404,0,0.808-0.123,1.151-0.366c0.627-0.44,0.946-1.201,0.822-1.957l-3.378-20.704l14.294-14.657 C63.951,25.771,64.131,24.987,63.893,24.277z">
                        </path>
                    </g>
                </svg>
                <svg class="delete-icon" data-entry-id="{{ dairy_entry.id }}" id="delete-icon-{{dairy_entry.id}}" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <g id="Interface / Trash_Full">
                            <path id="Vector"
                                d="M14 10V17M10 10V17M6 6V17.8C6 18.9201 6 19.4798 6.21799 19.9076C6.40973 20.2839 6.71547 20.5905 7.0918 20.7822C7.5192 21 8.07899 21 9.19691 21H14.8031C15.921 21 16.48 21 16.9074 20.7822C17.2837 20.5905 17.5905 20.2839 17.7822 19.9076C18 19.4802 18 18.921 18 17.8031V6M6 6H8M6 6H4M8 6H16M8 6C8 5.06812 8 4.60241 8.15224 4.23486C8.35523 3.74481 8.74432 3.35523 9.23438 3.15224C9.60192 3 10.0681 3 11 3H13C13.9319 3 14.3978 3 14.7654 3.15224C15.2554 3.35523 15.6447 3.74481 15.8477 4.23486C15.9999 4.6024 16 5.06812 16 6M16 6H18M18 6H20"
                                stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    {%endfor%}
    {%else%}

    <p>Aun no tienes ningun Dairy_entry, haz click en "+" para agregar uno! </p>
    {%endif%}
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/static/favorite.js"></script>
<script src="/static/filters.js"></script>
<script src="/static/delete.js"></script>
{% endblock %}