{% extends 'base_layout.html' %}

{% block content %}
<h1>Listas de Tareas</h1>

<div class="tasks item_list">

    <svg id="addSvg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <path
                d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16 12.75H12.75V16C12.75 16.41 12.41 16.75 12 16.75C11.59 16.75 11.25 16.41 11.25 16V12.75H8C7.59 12.75 7.25 12.41 7.25 12C7.25 11.59 7.59 11.25 8 11.25H11.25V8C11.25 7.59 11.59 7.25 12 7.25C12.41 7.25 12.75 7.59 12.75 8V11.25H16C16.41 11.25 16.75 11.59 16.75 12C16.75 12.41 16.41 12.75 16 12.75Z"
                fill="#292D32"></path>
        </g>

    </svg>
    <div id="opciones-crear">
        <h2>Selecciona qué deseas crear:</h2>
        {%if tlid%}
        <a id="crear-task" href="{%url 'tasks:createtlid' tlid=taskList.id%}">Nueva Tarea</a>
        {%else%}
        <a id="crear-task" href="{%url 'tasks:create'%}">Nueva Tarea</a>
        {%endif%} 
        <a id="crear-tasklist" href="{%url 'tasks:tl_create'%}">Nueva lista de tareas</a>
    </div>

    {%if taskLists%}
    <!-- <div class="filters">
        <input type="checkbox" id="filtro-favoritos">
        <label for="filtro-favoritos">Mostrar solo favoritos</label>
    </div> -->
    <div class="item_group">
    {%for taskList in taskLists%}
    
    <div class="item" id="item-{{taskList.id}}">
        <div class="item_header">
            <h2><a href="{%url 'tasks:tl_details' id=taskList.id%}"> {{ taskList.nombre }} </a></h2>
            <h2><a href="{%url 'tasks:tl_details' id=taskList.id%}"> {{ taskList.fecha_limite }} </a></h2>
        </div>
        <div class="item_body">
            <p> {{taskList.snippet}} </p>
            <p> {{task.date}} </p>
            <div class="item_buttons">

                <svg class="delete-icon" data-entry-id="{{ taskList.id }}" id="delete-icon-{{taskList.id}}" viewBox="0 0 24 24"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <g id="Interface / Trash_Full">
                            <path id="Vector"
                                d="M14 10V17M10 10V17M6 6V17.8C6 18.9201 6 19.4798 6.21799 19.9076C6.40973 20.2839 6.71547 20.5905 7.0918 20.7822C7.5192 21 8.07899 21 9.19691 21H14.8031C15.921 21 16.48 21 16.9074 20.7822C17.2837 20.5905 17.5905 20.2839 17.7822 19.9076C18 19.4802 18 18.921 18 17.8031V6M6 6H8M6 6H4M8 6H16M8 6C8 5.06812 8 4.60241 8.15224 4.23486C8.35523 3.74481 8.74432 3.35523 9.23438 3.15224C9.60192 3 10.0681 3 11 3H13C13.9319 3 14.3978 3 14.7654 3.15224C15.2554 3.35523 15.6447 3.74481 15.8477 4.23486C15.9999 4.6024 16 5.06812 16 6M16 6H18M18 6H20"
                                stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    
    {%endfor%}
</div>
    {%else%}

    <p>Aun no tienes ninguna tarea, haz click en "+" para agregar una! </p>
    {%endif%}
    {%if generalTasks%}
    <h1>Tareas Generales</h1>
    <div class="item_group">
    {%for task in generalTasks%}
    <div class="item" id="item-{{task.id}}">
        <div class="item_header">
            <h2 class="{{ task.urgencia }}">
                {% if task.urgencia == "Urgente" %}
                  Urgente
                {% else %}
                  No urgente
                {% endif %}
              </h2>           
               <h2><a href="{%url 'tasks:details' id=task.id%}"> {{ task.titulo }} </a></h2>
            <h2><a href="{%url 'tasks:details' id=task.id%}"> {{ task.fecha_limite }} </a></h2>
        </div>
        <div class="item_body">
            <p> {{task.snippet}} </p>
            <p> {{task.fecha}} </p>
            <div class="item_buttons">

                <svg class="delete-icon" data-entry-id="{{ task.id }}" id="delete-icon-{{task.id}}" viewBox="0 0 24 24"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <g id="Interface / Trash_Full">
                            <path id="Vector"
                                d="M14 10V17M10 10V17M6 6V17.8C6 18.9201 6 19.4798 6.21799 19.9076C6.40973 20.2839 6.71547 20.5905 7.0918 20.7822C7.5192 21 8.07899 21 9.19691 21H14.8031C15.921 21 16.48 21 16.9074 20.7822C17.2837 20.5905 17.5905 20.2839 17.7822 19.9076C18 19.4802 18 18.921 18 17.8031V6M6 6H8M6 6H4M8 6H16M8 6C8 5.06812 8 4.60241 8.15224 4.23486C8.35523 3.74481 8.74432 3.35523 9.23438 3.15224C9.60192 3 10.0681 3 11 3H13C13.9319 3 14.3978 3 14.7654 3.15224C15.2554 3.35523 15.6447 3.74481 15.8477 4.23486C15.9999 4.6024 16 5.06812 16 6M16 6H18M18 6H20"
                                stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>

    {%endfor%}
</div>
    {%else%}

    {%endif%}
</div>


<script>
    var crearSvg = document.getElementById('addSvg');
    var opcionesCrear = document.getElementById('opciones-crear');


    crearSvg.addEventListener('click', function () {
        if (opcionesCrear.classList.contains('mostrar')) {
            opcionesCrear.classList.remove('fade-in');
            opcionesCrear.classList.add('fade-out');
        } else {
            opcionesCrear.classList.remove('fade-out');
            opcionesCrear.classList.add('fade-in');
            opcionesCrear.style.display = 'block';
        }
        opcionesCrear.classList.toggle('mostrar');
    });

    var crearTaskBtn = document.getElementById('crear-task');
    var crearTaskListBtn = document.getElementById('crear-tasklist');
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/static/favorite.js"></script>
<script src="/static/filters.js"></script>
<script src="/static/tasklistdelete.js"></script>
<script src="/static/taskdelete.js"></script>

{% endblock %}